<h1>
	Welcome to Barber Shop!
</h1>

<p>We are open</p>

<form action="/" method="POST">
	Your name: <br>
	<input type="text" name="user_name"> <br> <br>
	Your phone: <br>
	<input type="text" name="phone"> <br><br>
	Date and time: <br>
	<input type="text" name="date_time"> <br><br>

	<input type="submit">

</form>
<!-- 
<a href="/admin">get data</a> -->