<h1>Hi</h1>

<p>You typed: <%= @login%> </p>
<p>You typed: <%= @password%> </p>

<form action="/" method="POST">
		<p>Login</p>
		<p><input type="text" name="aaa"></p>
		<p>Password</p>
		<p><input type="password" name="bbb"></p>
		<p><input type="submit" ></p>
</form>
